<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Beartooth Hiking Company</title>
        <meta charset="UTF-8">
        <link href="/bhc.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class='body_div'>
            <img src="../images/Beartooth002-01.jpg" alt="Beartooth Vista" />
            <h1>Beartooth Hiking Company</h1>

            <form action="bhc_calc" method="post">
                Hikes:&nbsp;
                <select name="hike">
                    {{hikes}}
                </select>
                <br />

                Date:&nbsp;
                <select name="month">
                    {{months}}
                </select>&nbsp;
                <select name="date">
                    {{dates}}
                </select>
                <select name="year">
                    {{years}}
                </select>
                <br />

                Duration:&nbsp;
                <select name="duration">
                    {{durations}}
                </select>
                <br />

                <input type="submit" name="calc" value="Calculate" />
                <br />

            </form>

        <h2>{{result}}</h2>

        </div>
    </body>
</html>