
* 
{
    font-family: sans-serif;
}

div.body_div
{
    width: 650px;
}

img.viewimage
{
    width: 30%;
    height: auto;
}

table.trip_info_table
{
    border: 1px solid black;
    border-spacing: 0 0;
}

table.trip_info_table td
{
    padding: 5px;
    border: 1px solid black;
}

h2.result
{
    color: #030;
}

.note
{
    background-color: #ccccff;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}